<div class="face-snap-card" [ngClass]="{ snapped: isSnap }">
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <p>
    Mis en ligne {{ faceSnap.createdDate | date: "à HH:mm, le d MMMM yyyy" }}
  </p>
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>
    <button (click)="onSnap()">{{ buttonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ', 0)' }">
      ❤ {{ faceSnap.snaps }}
    </span>
  </p>
  <div>
    {{ 4123456.36 | number }}
  </div>
  <div>
    {{ 0.335 | percent: "1.0-0" }}
  </div>
  <div>
    {{ 500 | currency: "EUR":"code" }}
  </div>
  <div>
    {{ "test test test" | titlecase }}
  </div>
  <a routerLink="/facesnaps">Back</a>
</div>
